*{
    margin:0;
    padding:0;
}

body{
    background-image:url("funky-lines.png");
}

header {
    font-family:Georgia, 'Times New Roman', Times, serif;
    position: relative;
    border: 1px solid grey;
    background-color: white;
}

nav{
    position: absolute;
    right: 0;
    font-size: 25px; 
    top: 30%;
}

.top_header{
    position: relative;
    width: 90%;
    margin-right:auto;
    margin-left:auto;
}

h1{
    box-sizing:border-box;
    padding: 20px;
    width: 180px;
    background: rgb(51, 139, 255);
    text-align: center;
    color: white;
}

h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:rgb(51, 139, 255);
}

#about_me{
    background-color:white;
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
    width:70%;
    padding: 30px;
    border-style: solid;
    border-width: thin;
    height:455px;
}

#contact{
    background-color: white;
    margin-top:100px;
    margin-left:auto;
    margin-right:auto;
    padding: 30px;
    border-style: solid;
    border-width: thin;
    width: 650px;
}

#portfolio{
    background-color:white;
    margin-top:100px;
    margin-bottom:50px;
    margin-left:auto;
    margin-right:auto;
    padding: 30px;
    border-style:solid;
    border-width: thin;
    width: 800px;
}

#image{
    float:left;
    margin-right:30px;
}

.image_port img{
    width:378px;
    height:215px;
    margin:10px;
}

